.input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--input-text);
  caret-color: var(--input-caret);
  font-size: var(--font-size-subtitle);
  font-family: var(--font-family);
}

.input::placeholder {
  color: var(--input-placeholder);
}

.input:focus {
  outline: none;
}
